<!-- Content Header (Page header) -->
   <section class="content-header">
     <div class="panel-body custom-panel"><h1>
       List Of Emails<button class="btn btn-primary pull-right" (click)="addEmail()">Add Email</button>
     </h1></div> 
   </section>
 <div class="content">
     <div><div class="row">
     <div class="col-md-8"></div>
     <div class="col-md-4">  
     </div></div>
 <div  >
 <div class="row">
     <div class="col-md-4" *ngIf="message;">
         <div class="alert alert-success">
             <strong>Success!</strong> {{message}}.
         </div>
     </div>
 </div>
 <div class="row">
         <div class="col-md-3">
     <nav class="navbar">
       <input class="form-control" placeholder="Enter Search Element" type="text" name="search" [(ngModel)]="filter" (ngModelChange)="getAllEmails(page,$event)">
     </nav>
     </div>
     </div>
 <div  class="pagination-data"><div class="loader" [ngClass]="{ 'hidden': !loading }"></div>
 <table *ngIf="totalItem" class="table-bordered custom-table">
                     <thead>
                         <tr>
                             <th>EmailDescription</th>
                             <th>EmailType</th>
                             <th>EmailSubject</th>
                             <th>Action</th>
                         </tr>
                     </thead>
                      <tbody>
                                 <tr *ngFor="let datas of data | paginate : { itemsPerPage:10, currentPage:page, id : 'server', 
                                     totalItems: totalItem}">
                                     <td>{{datas.emailDescription}}</td>
                                     <td>{{datas.emailType}}</td>
                                     <td>{{datas.emailSubject}}</td>                                      
 <td><a (click)="deleteEmail(this.baseEncode(datas.emailId))"><img src="assets/icons/delete.png" 
    width="25px" /></a></td>
                                     </tr>
                     </tbody> 
                 </table>
                 <div *ngIf="!totalItem" class="row">
     <div class="col-md-6" >
     <div class="alert alert-success">
   <strong>Success!</strong> Record not found
 </div>
     </div>
 </div>
                 <pagination-controls *ngIf="totalItem"
       (pageChange) = "page = getAllEmails($event,filter)" 
       id="server"
             maxSize = "5"
       directionLinks = "true"
             autohide = "true"
             screenReaderPaginationLabel="Pagination"
             screenReaderPageLabel="page"
             screenReaderCurrentLabel="You're on page">
         </pagination-controls>
      </div>
    </div>
 </div>
 </div>