<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="row">
        <div class="col-md-2"></div>
      <a data-toggle="collapse" data-parent="#accordion" href="#divDashBoards">
          <span>
          <img class="pull-left" src="assets/icons/dashboard.png" 
           width="50px" />
          </span>
          <span class="navbar-text">Dash Boards</span></a>
        </div>
              <div id="divDashBoards" class="panel-collapse collapse in parent-menu-item">
                  <div class="col-md-2"></div>
                <div class="row"><a routerLink="notificatinlist"><span><img class="pull-left child-menu-icon"  src="assets/icons/bullets.png" /></span><span class="navbar-text">Admin Dash Board</span></a></div>
                <div class="col-md-2"></div>
                <div class="row"><a routerLink="notificatinlist"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"/></span><span class="navbar-text">Teacher Dash Board</span></a></div>
                <div class="col-md-2"></div>
                <div class="row"><a routerLink="list-of-users"><span><img class="pull-left child-menu-icon"  src="assets/icons/bullets.png"/></span><span class="navbar-text">Student Dash Board</span></a></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <a data-toggle="collapse" data-parent="#accordion" href="#divMasterData">
                <span><img class="pull-left" src="assets/icons/teacher-time-table.png" width="50px" /></span>
                <span class="navbar-text">Master Data</span>
                </a>
            </div>
            <div id="divMasterData" class="panel-collapse collapse out parent-menu-item">
                <div class="col-md-2"></div>  
              <div class="row"><a routerLink="notificatinlist"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Logs</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="list-of-users"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Users</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="class-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  /></span><span class="navbar-text">Class</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="news-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  /></span><span class="navbar-text">News</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="exam-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  /></span><span class="navbar-text">Exams</span></a></div>
              <div class="col-md-2"></div>
              <div class="row"><a routerLink="email-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  /></span><span class="navbar-text">Email</span></a></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
              <a data-toggle="collapse" data-parent="#accordion" href="#divSchoolData"><span>
                <img class="pull-left" src="assets/icons/resource.png" width="50px" /></span><span class="navbar-text">School Data</span></a></div>
                        <div id="divSchoolData" class="panel-collapse collapse out parent-menu-item">
                            <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="resource-bank-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Resources</span></a></div>
                          <div class="col-md-2"></div> 
                          <div class="row"><a routerLink="timetable-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Timetable</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="hostel-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Rooms</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="class-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Classes</span></a></div>
                          <div class="col-md-2"></div>
                            <div class="row"><a routerLink="news-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">News</span></a></div>
                            <!-- <div class="row"><a routerLink="exam-list"><span><img class="pull-left child-menu-icon" src="assets/icons/test.png" width="50px" /></a></span><span class="navbar-text">Test</span></div>-->
                          </div>
          </section>
  <!-- /.sidebar -->
</aside>
