<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="row">
        <div class="col-md-2"></div>
      <a data-toggle="collapse" data-parent="#accordion" href="#divDashBoards">
          <span>
          <img class="pull-left image-width" src="assets/icons/dashboard.png" />
          </span>
          <span class="navbar-text navbar-textupdate">Dash Boards</span></a>
        </div>
              <div id="divDashBoards" class="panel-collapse collapse in parent-menu-item">
                  <div class="col-md-2"></div>
                <div class="row"><a routerLink="dashboard1"><span><img class="pull-left child-menu-icon"  src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Admin Dash Board</span></a></div>
                <div class="col-md-2"></div>
                <div class="row"><a routerLink="dashboard2"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"/></span><span class="navbar-text navbar-textupdate">Teacher Dash Board</span></a></div>
                <div class="col-md-2"></div>
                <div class="row"><a routerLink="dashboard3"><span><img class="pull-left child-menu-icon"  src="assets/icons/bullets.png"/></span><span class="navbar-text navbar-textupdate">Student Dash Board</span></a></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <a data-toggle="collapse" data-parent="#accordion" href="#divMasterData">
                <span><img class="pull-left  image-width" src="assets/icons/teacher-time-table.png" /></span>
                <span class="navbar-text navbar-textupdate">Master Data</span>
                </a>
            </div>
            <div id="divMasterData" class="panel-collapse collapse out parent-menu-item">
                <div class="col-md-2"></div>  
              <div class="row"><a routerLink="logslist"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Logs</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="list-of-users"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Users</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="class-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  /></span><span class="navbar-text navbar-textupdate">Class</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="news-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  /></span><span class="navbar-text navbar-textupdate">News</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="exam-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  /></span><span class="navbar-text navbar-textupdate">Exams</span></a></div>
              <div class="col-md-2"></div>
              <div class="row"><a routerLink="email-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  /></span><span class="navbar-text navbar-textupdate">Email</span></a></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
              <a data-toggle="collapse" data-parent="#accordion" href="#divSchoolData"><span>
                <img class="pull-left image-width" src="assets/icons/resource.png" /></span><span class="navbar-text navbar-textupdate">School Data</span></a></div>
                        <div id="divSchoolData" class="panel-collapse collapse out parent-menu-item">
                            <div class="col-md-2"></div> 
                            <div class="row"><a routerLink="resource-bank-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Resources</span></a></div>
                            <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="timetable-schedule"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Timetable Schedule</span></a></div>
                          <div class="col-md-2"></div> 
                          <div class="row"><a routerLink="timetable-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Timetable</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="flipbook-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Flipbook</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="books-purchase-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Books Purchase</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="books-issued-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Books Issued</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="class-rooms-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Rooms</span></a></div>
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="subjects-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Subjects</span></a></div>
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="departments-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Departments</span></a></div>
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="hostel-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text">Hostels</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="class-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Classes</span></a></div>
                          <div class="col-md-2"></div>
                            <div class="row"><a routerLink="news-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">News</span></a></div>                         
                            <div class="col-md-2"></div>
                            <div class="row"><a routerLink="parents-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Parents</span></a></div>
                            <div class="col-md-2"></div>
                            <div class="row"><a routerLink="students-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Students</span></a></div>                            
                            <div class="col-md-2"></div>
                            <div class="row"><a routerLink="library-settings-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" /></span><span class="navbar-text navbar-textupdate">Library Settings</span></a></div>                            
                            <!-- <div class="row"><a routerLink="exam-list"><span><img class="pull-left child-menu-icon" src="assets/icons/test.png" width="35px" /></a></span><span class="navbar-text navbar-textupdate">Test</span></div>-->
                          </div>
          </section>
  <!-- /.sidebar -->
</aside>
