<aside class="main-sidebar" >
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" id="leftSideBar" style="margin-top: -47px; height:100vh !important">
    <div class="row">
        <div class="col-md-2"></div>
      <a data-toggle="collapse" data-parent="#accordion" href="#divDashBoards">
          <span>
          <img class="pull-left" src="assets/icons/dashboard.png" 
           width="35px" /><label class="nav-label">Dash Boards</label></span></a>
        </div>
              <div id="divDashBoards" class="panel-collapse collapse in parent-menu-item">
                <div class="col-md-2"></div>
                <div class="row"><a routerLink="dashboard1"><span><img class="pull-left child-menu-icon"  src="assets/icons/bullets.png" />Admin Dash Board</span></a></div>
                <div class="col-md-2"></div>
                <div class="row"><a routerLink="dashboard2"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"/>Teacher Dash Board</span></a></div>
                <!-- <div class="col-md-2"></div>
                <div class="row"><a routerLink="dashboard3"><span><img class="pull-left child-menu-icon"  src="assets/icons/bullets.png"/>Student Dash Board</span></a></div> -->
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <a data-toggle="collapse" data-parent="#accordion" href="#divMasterData"><span>
                <img class="pull-left" width="35px" src="assets/icons/teacher-time-table.png" />
                <label class="nav-label">Master Data</label></span>
                </a>
            </div>
            <div id="divMasterData" class="panel-collapse collapse out parent-menu-item">
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="notificatinlist"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Logs</span></a></div>
              <div class="col-md-2"></div>  
              <div class="row"><a routerLink="list-of-users"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Users</span></a></div>
              <div class="col-md-2"></div>
              <div class="row"><a routerLink="resource-bank-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Resources</span></a></div>
              <div class="col-md-2"></div>   
            </div>
            <div class="row">
                <div class="col-md-2"></div>
              <a data-toggle="collapse" data-parent="#accordion" href="#divSchoolData"><span>
                <img class="pull-left" src="assets/icons/resource.png" width="35px" /><label class="nav-label">School Data</label></span></a></div>
                        <div id="divSchoolData" class="panel-collapse collapse out parent-menu-item">
                          <div class="col-md-2"></div>  
                          
                          <div class="row"><a routerLink="timetable-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Timetable</span></a></div>
                          <div class="col-md-2"></div>  
                          <!-- <div class="row"><a routerLink="flipbook-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Flipbook</span></a></div>
                          <div class="col-md-2"></div>   -->
                          <!-- <div class="row"><a routerLink="books-purchase-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Books Purchase</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="books-issued-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Books Issued</span></a></div>
                          <div class="col-md-2"></div>  
                          <div class="row"><a routerLink="class-rooms-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Rooms</span></a></div>
                          <div class="col-md-2"></div> -->
                          <div class="row"><a routerLink="subjects-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Subjects</span></a></div>
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="class-subject-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Class Subject</span></a></div>
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="assignment-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Assignment List</span></a></div>
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="assignment-evaluation-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Assignment Evaluation</span></a></div>
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="class-section-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Class Section</span></a></div>
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="exam-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png"  />Exams</span></a></div>
            
                          <!-- <div class="row"><a routerLink="departments-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Departments</span></a></div>
                          <div class="col-md-2"></div> -->
                          <!-- <div class="row"><a routerLink="hostel-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Hostels</span></a></div>
                          <div class="col-md-2"></div>   -->
                          <!-- <div class="row"><a routerLink="parents-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Parents</span></a></div>
                          <div class="col-md-2"></div> -->
                          <div class="col-md-2"></div>
                          <div class="row"><a routerLink="students-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Students</span></a></div>                            
                          
                          <!-- <div class="row"><a routerLink="library-settings-list"><span><img class="pull-left child-menu-icon" src="assets/icons/bullets.png" />Library Settings</span></a></div>                            
                             <div class="row"><a routerLink="exam-list"><span><img class="pull-left child-menu-icon" src="assets/icons/test.png" width="35px" /></a>Test</span></div>-->
                          </div>
          </section>
  <!-- /.sidebar -->
</aside>
