<!-- Content Header (Page header) -->
   <section class="content-header">
     <div class="panel-body custom-panel"><h1>
       List Of Booking Request<button class="btn btn-primary pull-right" (click)="addBookingRequesting()">Add Book</button>
     </h1></div> 
   </section>
 <div class="content">
     <div><div class="row">
     <div class="col-md-8"></div>
     <div class="col-md-4">  
     </div></div>
 <div  class="lu-form">
 <div class="row">
     <div class="col-md-4" *ngIf="message;">
         <div class="alert alert-success">
             <strong>Success!</strong> {{message}}.
         </div>
     </div>
 </div>
 <div class="row">
         <div class="col-md-3">
     <nav class="navbar">
       <input placeholder="Enter Search Element" type="text" name="search" [(ngModel)]="filter" (ngModelChange)="getAllTblClasss(page,$event)">
     </nav>
     </div>
     </div>
 <div  class="pagination-data"><div class="loader" [ngClass]="{ 'hidden': !loading }"></div>
 <table *ngIf="totalItem" class="table-bordered custom-table">
                     <thead>
                         <tr>
                             <th>Book Name</th>
                             <th>Booking Date</th>
                             <th>Expected Return Date</th>
                             <th>Requsted By</th>
                             <th>No Of Renewals</th>
                             <th>Action</th>
                         </tr>
                     </thead>
                      <tbody>
                                 <tr *ngFor="let datas of data | paginate : { itemsPerPage:10, currentPage:page, id : 'server', 
                                     totalItems: totalItem}">  
                                     <td>{{datas.title}}</td>
                                     <td>{{datas.requestOn}}</td>
                                     <td>{{datas.expectedReturn}}</td>
                                     <td>{{datas.libraryRequestId.studentId}}</td>
                                     <td>{{datas.noOfRenewals}}</td>
 <td><a routerLink="/admin/update-booking-request/{{this.baseEncode(datas.bookingRequestId)}}"><img src="assets/icons/edit.png" 
    width="25px" /></a><a (click)="deleteBookingRequesting(this.baseEncode(datas.bookingRequestId))"><img src="assets/icons/delete.png" 
        width="25px" /></a></td>
                                     </tr>
                     </tbody> 
                 </table>
                 <div *ngIf="!totalItem" class="row">
     <div class="col-md-6" >
     <div class="alert alert-success">
   <strong>Success!</strong> Record not found
 </div>
     </div>
 </div>
                 <pagination-controls *ngIf="totalItem"
       (pageChange) = "page = getAllTblClasss($event,filter)" 
       id="server"
             maxSize = "5"
       directionLinks = "true"
             autohide = "true"
             screenReaderPaginationLabel="Pagination"
             screenReaderPageLabel="page"
             screenReaderCurrentLabel="You're on page">
         </pagination-controls>
      </div>
    </div>
 </div>
 </div>