<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body custom-panel"><h1>
      <div *ngIf="model.stateId; else falsyTemplate">
        Edit State
      </div>
      <ng-template #falsyTemplate>
        Add State 
      </ng-template>
    </h1>
    </div>
  </section>
<div class="content ">
  <div class="lu-form">
     <div class="row">
       <p>                            </p>
     </div>
    <form (ngSubmit)="addState(model)" #stateForm="ngForm">
      
      <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Country Name*</label>
        <div class="col-sm-8">
        <select required minlength="1" class="form-control" name="countryId" id="countryId" [(ngModel)]="model.countryId" #countryId="ngModel" 
        (ngModelChange)="stateAlreadyExist(stateName.value,$event)"
        >
                <option *ngFor='let country of countrys' [selected]="country.countryId===model.countryId" [ngValue]='country.countryId' >{{country.countryName}}</option>
        </select>
              </div>
          <div [hidden]="countryId.valid || countryId.pristine"
             class="alert alert-danger">
          Country is required
        </div>   
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">State Name*</label>
        <div class="col-sm-8">
        <input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.- ,]*" id="stateName"
               required 
               (ngModelChange)="stateAlreadyExist($event,countryId.value)"
               [(ngModel)]="model.stateName" name="stateName"
               #stateName="ngModel">
               <input type="hidden"  name="stateId" [value]="model.stateId"/>
              </div>
         <div [hidden]="stateName.valid || stateName.pristine"
             class="alert alert-danger">
          State is required
        </div>
        <div *ngIf="IsExist"
             class="alert alert-danger">
          State Already Exist
        </div>  
      </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
        </div>
        <div class="form-group col-sm-4">
          <button type="submit" class="btn btn-success" [disabled]="!stateForm.form.valid || IsExist">Save</button>
          <button type="button" class="btn btn-default" (click)="backList();">Cancel</button>
        </div>
        </div>
    </form>
  </div>
  </div>