<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body box box-info"><h1>User Details</h1>
    </div>
  </section>
<div class="content ">
  <div class="box box-info">
     <div class="row">
       <p>                            </p>
     </div>
  <form #addressForm="ngForm" class="editForm" novalidate>
      <!-- <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Street Address</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #street="ngModel" required id="street" name="street" type="text" placeholder="Street Address" [(ngModel)]="address.street">  
        </div>
         <div class="alert alert-danger" [hidden]="street.valid || street.pristine">Street Address is required</div>  
      </div>
      </div> -->
 <!-- <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Country*</label>
        <div class="col-sm-8">
        <select required class="form-control" name="countryId" id="countryId" [(ngModel)]="address.countryId" #countryId="ngModel" 
        (ngModelChange)="getStateByCountryId($event)"
        >
                <option *ngFor='let country of countrydata'  [ngValue]='country.countryId' >{{country.countryName}}</option>
        </select>
      </div>
    <div class="alert alert-danger" [hidden]="countryId.valid || countryId.pristine ">Country is required</div> 
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">State*</label>
        <div class="col-sm-8">
        <select required class="form-control" name="state" id="state" [(ngModel)]="address.state" #state="ngModel" 
        (ngModelChange)="getAllCityByStateId($event)"
        >
                <option *ngFor='let state of statedata'  [ngValue]='state.stateId' >{{state.stateName}}</option>
        </select>
      </div>
    <div class="alert alert-danger" [hidden]="state.valid || state.pristine ">State is required</div> 
      </div>
      </div> -->
    <!-- <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">City*</label>
        <div class="col-sm-8">
          <select required class="form-control" name="city" id="city" [(ngModel)]="address.city" #city="ngModel" >
                <option *ngFor='let city of citydata'  [ngValue]='city.cityId' >{{city.cityName}}</option>
        </select>
      </div>
        <div class="alert alert-danger" [hidden]="city.valid || city.pristine">City is required</div> 
      </div>
      </div> -->
<div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label"  for="alterEgo">Address Line1*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #addressLine1="ngModel" 
          required id="addressLine1" name="addressLine1" type="text"
           placeholder="Address Line1" maxlength="80" [(ngModel)]="address.addressLine2">
      </div>
       <div [hidden]="addressLine1.valid || addressLine1.pristine"
             class="alert alert-danger">
             Address Line1 is required
        </div> 
      </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8">
             <label class="col-sm-4 control-label"  for="alterEgo">Address Line2*</label>
          <div class="col-sm-8">
            <input class="form-control input-md" #addressLine2="ngModel" 
            required id="addressLine2" name="addressLine2" type="text" 
            placeholder="Address Line2 " maxlength="80" [(ngModel)]="address.addressLine2">
        </div>
         <div [hidden]="addressLine2.valid || addressLine2.pristine"
               class="alert alert-danger">
               Address Line2 is required
          </div> 
        </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-8">
               <label class="col-sm-4 control-label"  for="alterEgo">Address Line3*</label>
            <div class="col-sm-8">
              <input class="form-control input-md" #addressLine3="ngModel" required 
              id="addressLine3" name="addressLine3" type="text" 
              placeholder="Address Line3" maxlength="80" [(ngModel)]="address.addressLine3">
          </div>
           <div [hidden]="addressLine3.valid || addressLine3.pristine"
                 class="alert alert-danger">
                 Address Line3 is required
            </div> 
          </div>
          </div>

      <div class="row">
        <div class="form-group col-sm-8">
             <label class="col-sm-4 control-label"  for="alterEgo">Permanent City*</label>
          <div class="col-sm-8">
            <input class="form-control input-md" #perCity="ngModel" required 
            id="perCity" name="perCity" type="text" placeholder="Permanent City" 
            maxlength="45" [(ngModel)]="address.perCity">
        </div>
         <div [hidden]="perCity.valid || perCity.pristine"
               class="alert alert-danger">
               Permanent City is required
          </div> 
        </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-8">
               <label class="col-sm-4 control-label"  for="alterEgo">Permanent State*</label>
             <div class="col-sm-8">
              <input class="form-control input-md" #perState="ngModel" 
              required id="perState" name="perState" type="text" 
              placeholder="Permanent State" maxlength="1" 
              [(ngModel)]="address.perState">
          </div>
           <div [hidden]="perState.valid || perState.pristine"
                 class="alert alert-danger">
                 Permanent State is required
            </div> 
          </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8">
                 <label class="col-sm-4 control-label"  for="alterEgo">Country*</label>
              <div class="col-sm-8">
                <input class="form-control input-md" #country="ngModel" 
                required id="country" name="country" type="text" maxlength="3"
                placeholder="country" [(ngModel)]="address.country">
            </div>
             <div [hidden]="country.valid || country.pristine"
                   class="alert alert-danger">
                   Country is required
              </div> 
            </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-8">
                   <label class="col-sm-4 control-label"  for="alterEgo">FatherFirstName*</label>
                <div class="col-sm-8">
                  <input class="form-control input-md" #fatherFirstName="ngModel" 
                  required id="fatherFirstName" name="fatherFirstName" type="text" 
                  placeholder="Father FirstName" maxlength="80" 
                  [(ngModel)]="address.fatherFirstName">
              </div>
               <div [hidden]="fatherFirstName.valid || fatherFirstName.pristine"
                     class="alert alert-danger">
                     Father FirstName is required
                </div> 
              </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-8">
                     <label class="col-sm-4 control-label"  for="alterEgo">Father MiddleName*</label>
                  <div class="col-sm-8">
                    <input class="form-control input-md" #fatherMiddleName="ngModel" 
                    required id="fatherMiddleName" name="fatherMiddleName" 
                    type="text" placeholder="Father Middle Name" maxlength="80" [(ngModel)]="address.fatherMiddleName">
                </div>
                 <div [hidden]="fatherMiddleName.valid || fatherMiddleName.pristine"
                       class="alert alert-danger">
                       Father MiddleName is required
                  </div> 
                </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-8">
                       <label class="col-sm-4 control-label"  for="alterEgo">Father LastName*</label>
                    <div class="col-sm-8">
                      <input class="form-control input-md" #fatherLastName="ngModel" 
                      required id="fatherLastName" name="fatherLastName" type="text" 
                      placeholder="Father LastName" maxlength="80" [(ngModel)]="address.fatherLastName">
                  </div>
                   <div [hidden]="fatherLastName.valid || fatherLastName.pristine"
                         class="alert alert-danger">
                         Father LastName is required
                    </div> 
                  </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-8">
                         <label class="col-sm-4 control-label"  for="alterEgo">Mother FirstName*</label>
                      <div class="col-sm-8">
                        <input class="form-control input-md" #motheFirstName="ngModel"
                         required id="motheFirstName" name="motheFirstName" type="text"
                          placeholder="Mother FirstName" maxlength="80" [(ngModel)]="address.motheFirstName">
                    </div>
                     <div [hidden]="motheFirstName.valid || motheFirstName.pristine"
                           class="alert alert-danger">
                           Mother FirstName is required
                      </div> 
                    </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-8">
                           <label class="col-sm-4 control-label"  for="alterEgo">Mother MiddleName*</label>
                        <div class="col-sm-8">
                          <input class="form-control input-md" #motherMiddleName="ngModel" 
                          required id="motherMiddleName" name="motherMiddleName" 
                          type="text" placeholder="Mother MiddleName" maxlength="80" 
                          [(ngModel)]="address.motherMiddleName">
                      </div>
                       <div [hidden]="motherMiddleName.valid || motherMiddleName.pristine"
                             class="alert alert-danger">
                             Mother MiddleName is required
                        </div> 
                      </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-8">
                             <label class="col-sm-4 control-label"  for="alterEgo">Mother Lastname*</label>
                          <div class="col-sm-8">
                            <input class="form-control input-md" #motherLastname="ngModel" required
                             id="motherLastname" name="motherLastname" type="text" 
                             placeholder="Mother Lastname" maxlength="80" [(ngModel)]="address.motherLastname">
                        </div>
                         <div [hidden]="motherLastname.valid || motherLastname.pristine"
                               class="alert alert-danger">
                               Mother Lastname is required
                          </div> 
                        </div>
                        </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Father Contact*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #fatherContact="ngModel" 
          required id="fatherContact" name="fatherContact" type="text" minlength="10"
             maxlength="11"  placeholder="Father Contact" 
             [(ngModel)]="address.fatherContact">
        </div>
        <div class="alert alert-danger" [hidden]="fatherContact.valid || fatherContact.pristine">Father Contact is required</div> 
      </div>
      </div>   
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Mother Contact*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #motherContact="ngModel" required id="motherContact" 
          name="motherContact" type="text" minlength="10"   maxlength="11"   placeholder="Mother Contact" [(ngModel)]="address.motherContact">
        </div>
        <div class="alert alert-danger" [hidden]="motherContact.valid || motherContact.pristine">Mother Contact is required</div> 
      </div>
      </div>
      
      <div class="row">
        <div class="form-group col-sm-4">
        </div>
        <div class="form-group col-sm-4">
          <div class="form-group text-center">
            <div *ngIf="address.userId; else falsyTemplate">
                <div class="form-group text-center space-20">
                  <button [routerLink]="['/admin/addProfile/'+address.userId]" class="btn btn-outline-rounded btn-default" > <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                  <button  class="btn btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="save(addressForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                </div> 
            </div>
          <ng-template #falsyTemplate>
          <div class="form-group text-center space-20">
                <button [routerLink]="['/admin/addProfile']" class="btn btn-outline-rounded btn-default" > <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <button  class="btn btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="save(addressForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>  
          </ng-template>
            </div>
        </div>
        </div>
    </form>
  </div>
  </div>