<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body box box-info"><h1>User Details</h1>
    </div>
  </section>
<div class="content ">
  <div class="box box-info">
     <div class="row">
       <p>                            </p>
     </div>
  <form #addressForm="ngForm" class="editForm" novalidate>
      <!-- <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Street Address</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #street="ngModel" required id="street" name="street" type="text" placeholder="Street Address" [(ngModel)]="address.street">  
        </div>
         <div class="alert alert-danger" [hidden]="street.valid || street.pristine">Street Address is required</div>  
      </div>
      </div> -->
 <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Country*</label>
        <div class="col-sm-8">
        <select required class="form-control" name="countryId" id="countryId" [(ngModel)]="address.countryId" #countryId="ngModel" 
        (ngModelChange)="getStateByCountryId($event)"
        >
                <option *ngFor='let country of countrydata'  [ngValue]='country.countryId' >{{country.countryName}}</option>
        </select>
      </div>
    <div class="alert alert-danger" [hidden]="countryId.valid || countryId.pristine ">Country is required</div> 
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">State*</label>
        <div class="col-sm-8">
        <select required class="form-control" name="state" id="state" [(ngModel)]="address.state" #state="ngModel" 
        (ngModelChange)="getAllCityByStateId($event)"
        >
                <option *ngFor='let state of statedata'  [ngValue]='state.stateId' >{{state.stateName}}</option>
        </select>
      </div>
    <div class="alert alert-danger" [hidden]="state.valid || state.pristine ">State is required</div> 
      </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">City*</label>
        <div class="col-sm-8">
          <select required class="form-control" name="city" id="city" [(ngModel)]="address.city" #city="ngModel" >
                <option *ngFor='let city of citydata'  [ngValue]='city.cityId' >{{city.cityName}}</option>
        </select>
      </div>
        <div class="alert alert-danger" [hidden]="city.valid || city.pristine">City is required</div> 
      </div>
      </div>
<div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label"  for="alterEgo">Zip Code*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #zip="ngModel" required id="zip" name="zip" type="text" placeholder="Zip" maxlength="6" [(ngModel)]="address.zip">
      </div>
       <div [hidden]="zip.valid || zip.pristine"
             class="alert alert-danger">
          Zip Code is required
        </div> 
      </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Permanent Address*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #permanentAddress="ngModel" required id="permanentAddress" name="permanentAddress" type="text" minlength="10"   maxlength="35"  placeholder="permanent Address" [(ngModel)]="address.permanentAddress">
        </div>
        <div class="alert alert-danger" [hidden]="permanentAddress.valid || permanentAddress.pristine">Permanent Address is required</div> 
      </div>
      </div>   
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Communication Address*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #communicationAddress="ngModel" required id="communicationAddress" name="communicationAddress" type="text" minlength="10"   maxlength="35"   placeholder="communication Address" [(ngModel)]="address.communicationAddress">
        </div>
        <div class="alert alert-danger" [hidden]="communicationAddress.valid || communicationAddress.pristine">Communication Address is required</div> 
      </div>
      </div>
      
      <div class="row">
        <div class="form-group col-sm-4">
        </div>
        <div class="form-group col-sm-4">
          <div class="form-group text-center">
            <div *ngIf="address.userId; else falsyTemplate">
                <div class="form-group text-center space-20">
                  <button [routerLink]="['/admin/addProfile/'+address.userId]" class="btn btn-outline-rounded btn-default" > <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                  <button  class="btn btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="save(addressForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                </div> 
            </div>
          <ng-template #falsyTemplate>
          <div class="form-group text-center space-20">
                <button [routerLink]="['/admin/addProfile']" class="btn btn-outline-rounded btn-default" > <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <button  class="btn btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="save(addressForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>  
          </ng-template>
            </div>
        </div>
        </div>
    </form>
  </div>
  </div>
</div>