<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body box box-info"><h1>Profile Details</h1>
    {{profile | json}}
    </div>
  </section>
<div class="content ">
  <div class="box box-info">
     <div class="row">
       <p>                            </p>
     </div>
    <form #workForm="ngForm" class="editForm" novalidate>
      <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">profile Name</label>
        <div class="col-sm-8">
        <input class="form-control input-md" #profileName="ngModel" required id="profileName" name="profileName" type="text" placeholder="profileName" [(ngModel)]="profile.profileName">        
      </div>
         <div class="alert alert-danger" [hidden]="profileName.valid || profileName.pristine">profile Name is required</div>  
      </div>
      </div>
 <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">profile Image</label>
        <div class="col-sm-8">
        <input type="file" class="form-control input-md" #profileImage="ngModel"  id="profileImage" name="profileImage"  placeholder="profileImage" [(ngModel)]="profile.profileImage">                                     
      </div>
        <div class="alert alert-danger" [hidden]="profileImage.valid || profileImage.pristine">profile Image is required</div> 
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">profile Type</label>
        <div class="col-sm-8">
        <input class="form-control input-md" #profileType="ngModel" required id="profileType" name="profileType" type="text" placeholder="profileType" [(ngModel)]="profile.profileType">        
      </div>
    <div class="alert alert-danger" [hidden]="profileType.valid || profileType.pristine ">profile Type is required</div> 
      </div>
      </div>
<div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Achievment</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #achievment="ngModel" required id="achievment" name="achievment" type="text" placeholder="achievment" [(ngModel)]="profile.achievment">
      </div>
       <div [hidden]="achievment.valid || achievment.pristine"
             class="alert alert-danger">
          achivement is required
        </div> 
      </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Extra Activities</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #extraActivities="ngModel" required id="extraActivities" name="extraActivities" type="text" placeholder="extraActivities" [(ngModel)]="profile.extraActivities">                            
        </div>
        <div class="alert alert-danger" [hidden]="extraActivities.valid || extraActivities.pristine">extra Activities is required</div> 
      </div>
      </div>      
      <div class="row">
        <div class="form-group col-sm-4">
        </div>
        <div class="form-group col-sm-4">
          <div *ngIf="profile.userId; else falsyTemplate">
               <div class="form-group text-center space-20">
                <button [routerLink]="['/admin/addUser/'+profile.userId]" class="btn btn-outline-rounded btn-default"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <button [routerLink]="['/admin/addAddress/'+profile.userId]" class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div> 
          </div>
          <ng-template #falsyTemplate>
          <div class="form-group text-center space-20">
                <button [routerLink]="['/admin/addUser']" class="btn btn-outline-rounded btn-default" (click)="save(workForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <button [routerLink]="['/admin/addAddress']" class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>  
          </ng-template>
        </div>
        </div>
    </form>
  </div>
  </div>
</div>
