{{user | json}}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="panel-body box box-info"><h1>Student Details</h1>
  </div>
</section>
<div class="content ">
<div class="box box-info">
   <div class="row">
     <p>                            </p>
   </div>
  <form #personalForm="ngForm" class="editForm" novalidate>
    <div class="row">
    <div class="form-group col-sm-8">
      <label class="col-sm-4 control-label" for="name">First Name*</label>
      <div class="col-sm-8">
          <input class="form-control input-md" #firstName="ngModel" required id="firstName" name="firstName" type="text" placeholder="First Name" maxlength="80" [(ngModel)]="user.firstName" pattern="[a-zA-Z\&quot;-'-$-.-, ]*">   
            <input    type="hidden" name="userId"  [(ngModel)]="user.userId">
        </div>
      <div class="alert alert-danger" [hidden]="firstName.valid || firstName.pristine">First Name is required</div>  
    </div>
    </div>
<div class="row">
    <div class="form-group col-sm-8">
         <label class="col-sm-4 control-label" for="alterEgo">Middle Name*</label>
      <div class="col-sm-8">
      <input class="form-control input-md" #middleName="ngModel" required id="middleName" 
      name="middleName" maxlength="80" type="text" placeholder="Middle Name" [(ngModel)]="user.middleName" pattern="[a-zA-Z-\&quot;-'-$-.-, ]*">
    </div>
      <div class="alert alert-danger" [hidden]="middleName.valid || middleName.pristine">Middle Name is required</div> 
    </div>
    </div>
    <div class="row">
    <div class="form-group col-sm-8">
         <label class="col-sm-4 control-label" for="alterEgo">Last Name*</label>
      <div class="col-sm-8">
      <input class="form-control input-md" #lastName="ngModel" required  maxlength="80" id="lastName" name="lastName" type="text" placeholder="lastName" [(ngModel)]="user.lastName" pattern="[a-zA-Z-\&quot;-'-$-.-, ]*">
    </div>
  <div class="alert alert-danger" [hidden]="lastName.valid || lastName.pristine ">Last Name is required and must be valid</div> 
    </div>
    </div>
    
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Date Of Birth*</label>
        <div class="col-sm-8">
<input type="date"  maxlength="50"  class="form-control"  id="dateOfBirth"
               required
               [(ngModel)]="user.dateOfBirth" name="dateOfBirth" onkeypress="return false;"
               #dateOfBirth="ngModel" value="">
              </div> 
              <div [hidden]="dateOfBirth.valid || dateOfBirth.pristine"
                  class="alert alert-danger">
                  Date Of Birth is required
              </div> 
      </div>
</div>
<div class="row">
<div class="form-group col-sm-8">
     <label class="col-sm-4 control-label" for="alterEgo">Gender</label>
  <div class="col-sm-8">
<select class="form-control" id="gender" 
          required
          [(ngModel)]="user.gender" name="gender"
          #gender="ngModel">
    <option *ngFor="let notifyC of Gender" [value]="notifyC">{{notifyC}}</option>
  </select>         
</div>
   <div [hidden]="gender.valid || gender.pristine"
       class="alert alert-danger">
       Gender is required
  </div> 
</div>
</div>
<!-- <div class="row">
  <div class="form-group col-sm-8">
       <label class="col-sm-4 control-label" for="alterEgo">profile Image*</label>
    <div class="col-sm-8">
    <input type="file" class="form-control input-md" #profilePic="ngModel"  id="profilePic" name="profilePic" [(ngModel)]="user.profilePic">                                     
  </div>
    <div class="alert alert-danger" [hidden]="profilePic.valid || profilePic.pristine">profile Image is required</div> 
  </div>
  </div> -->
<div class="row">
    <div class="form-group col-sm-8">
         <label class="col-sm-4 control-label" for="alterEgo">Mobile No*</label>
      <div class="col-sm-8">
        <input class="form-control input-md" minlength="10" maxlength="11" #mobilePhone="ngModel" required id="mobilePhone" name="mobilePhone" 
        pattern="[0-9]*" type="text" placeholder="mobile number" [(ngModel)]="user.mobilePhone">
    </div>
     <div [hidden]="mobilePhone.valid || mobilePhone.pristine"
           class="alert alert-danger">
        Mobile is required
      </div> 
    </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Alternate Phone*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" minlength="10" maxlength="11" #alterPhone="ngModel" required id="alterPhone" name="alterPhone" 
          pattern="[0-9]*" type="text" placeholder="Alternate Phone" [(ngModel)]="user.alterPhone">
      </div>
       <div [hidden]="alterPhone.valid || alterPhone.pristine"
             class="alert alert-danger">
             Alternate Phone is required
        </div> 
      </div>
      </div>
  <!-- <div class="row">
    <div class="form-group col-sm-8">
      <label class="col-sm-4 control-label" for="alterEgo">Alternate Phone*</label>
        <input class="form-control input-md" #alterPhone="ngModel"  
        minlength="10" maxlength="11" pattern="[0-9]*"
        name="alterPhone" type="text" placeholder="Alternate Phone" 
         [(ngModel)]="user.alterPhone">
    </div>
    </div> -->
    <div class="form-group col-sm-8">
      <label class="col-sm-4 control-label" for="alterEgo">Email*</label>
      <div class="col-sm-8">
        <input class="form-control input-md"  (ngModelChange)="emailAlreadyExist($event)" #emailId="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" name="emailId" type="text" maxlength="80" placeholder="Enter valid email" [(ngModel)]="user.emailId" >
      </div>
      <div class="alert alert-danger" [hidden]="emailId.valid || emailId.pristine">Email is required
        </div>
      <div *ngIf="IsExist"
           class="alert alert-danger">
        Email Id Already Exist
      </div> 
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Class Section*</label>
        <div class="col-sm-8">
        <select required class="form-control" name="classId" 
        id="classId"   [(ngModel)]="user.classId"  #classId="ngModel" 
        >
                <!-- (ngModelChange)="classsubject($event)" <option *ngFor='let classsection of classsectiondata' [selected]="classsection['classSectionMasterId'].classId===model.classId" [ngValue]='classsection['classSectionMasterId'].classId,classsection['classSectionMasterId'].sectionId' >{{classsection.className}} {{classsection.sectionName}}</option> --> -->
                <option *ngFor='let mydata of classIds' 
                [value]='mydata["classSectionMasterId"].classId+","+mydata["classSectionMasterId"].sectionId' >{{mydata.className}}  {{mydata.sectionName}}</option>
        </select>
              </div>
          <div [hidden]="classId.valid || classId.pristine"
             class="alert alert-danger">
             Class Section is required
        </div>   
      </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Class Teacher*</label>
              <div class="col-sm-8">
              <select required class="form-control" name="classTeacher" 
              id="classTeacher" [(ngModel)]="user.classTeacher" 
              #classTeacher="ngModel">
                <option *ngFor='let users of teacherdata'  [ngValue]='users.userId' >{{users.emailId}}</option>
        </select></div>
              <div [hidden]="classTeacher.valid || classTeacher.pristine"
                  class="alert alert-danger">
                  Class Teacher is required
              </div> 
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Academic Year*</label>
          <input class="form-control input-md" #academicYear="ngModel"  
           name="academicYear" type="text" maxlength="45" placeholder="Academic Year" pattern="[0-9, ]*" 
           [(ngModel)]="user.academicYear">
      </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <label class="col-sm-4 control-label" for="alterEgo">Academic Review*</label>
            <input class="form-control input-md" #academicReview="ngModel"  
             name="academicReview" type="text" maxlength="45" placeholder="Academic Review" pattern="[a-zA-Z, ]*" 
             [(ngModel)]="user.academicReview">
        </div>
        </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <label class="col-sm-4 control-label" for="alterEgo">Grade Obtained*</label>
            <input class="form-control input-md" #gradeObtained="ngModel"  
            maxlength="1" name="gradeObtained" pattern="[a-b-A-Z]*" type="text" placeholder="Grade Obtained" 
             [(ngModel)]="user.gradeObtained">
        </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-8">
            <label class="col-sm-4 control-label" for="alterEgo">Promoted*</label>
              <input  #gradeObtained="ngModel"  
               name="isPromoted"  type="checkbox"  
               [(ngModel)]="user.isPromoted">
          </div>
          </div>
    <div class="row">
      <div class="form-group col-sm-4">
      </div>
      <div class="form-group col-sm-4">
        <div *ngIf="user.userId; else falsyTemplate">
              <div class="form-group text-center">
                  <button [routerLink]="['/admin/addStudentProfile/'+baseEncode(user.userId)]" class="btn btn-success 
                  btn-outline-rounded btn-info" [disabled]="!personalForm.valid || IsExist" (click)="save(personalForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
        </div>
        <ng-template #falsyTemplate>
          <div class="form-group text-center">
                      <button [routerLink]="['/admin/addStudentProfile']" class="btn btn-success 
                      btn-outline-rounded btn-info" [disabled]="!personalForm.valid" 
                      (click)="save(personalForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                  </div>
        </ng-template>
      </div>
      </div>
  </form>
</div>
</div>

