<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="panel-body custom-panel"><h1>
    List Of Unit Topic<button class="btn btn-primary pull-right" (click)="addUser()">Add Unit Topic</button>
  </h1></div>
</section>
<div class="content">
  <div><div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">  
  </div></div>
<div  class="">
<div class="row">
  <div class="col-md-4" *ngIf="message;">
      <div class="alert-message">
          <strong>Success!</strong> {{message}}.
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
      <nav class="navbar">
          <input class="form-control" placeholder="Enter Search Element" type="text" name="search" [(ngModel)]="filter" (ngModelChange)="getAllUsers(page,$event)">
      </nav>
  </div>
</div>
<div  class="pagination-data"><div class="loader" [ngClass]="{ 'hidden': !loading }"></div>
  <table  *ngIf="totalItem" class="table-bordered custom-table">
                  <thead>
                      <tr>
                          <th>TopicName</th>
                          <th>TopicMaterialFiletype</th>
                          <th>TypeOfMaterial</th>
                          <th>TopicBookPath</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                   <tbody>
                              <tr *ngFor="let datas of data | paginate : { itemsPerPage:10, currentPage:page, id : 'server', 
                                  totalItems: totalItem}">
                                  <td>{{datas.TopicName}}</td> 
                                  <td>{{datas.TopicMaterialFiletype}}</td>  
                                  <td>{{datas.TypeOfMaterial}}</td>
                                  <td>{{datas.TopicBookPath}}</td>
<!-- <td><a class="col-xs-3 btn btn-success" routerLink="/admin/addUser/{{this.baseEncode(datas.userId)}}">Edit</a><a class="btn btn-danger" (click)="deleteUser(this.baseEncode(datas.userId))">Delete</a></td> -->
<td><a href="/admin/addStudent/{{this.baseEncode(datas.SubjectUnitMasterId['SubjectId'])}}/{{this.baseEncode(datas.SubjectUnitMasterId['TopicId'])}}/{{this.baseEncode(datas.SubjectUnitMasterId['UnitId'])}}"><img src="assets/icons/edit.png" 
  width="25px" /></a><a class="pointer" (click)="deleteUser(this.baseEncode(datas.SubjectUnitMasterId['SubjectId']),this.baseEncode(datas.SubjectUnitMasterId['TopicId']),this.baseEncode(datas.SubjectUnitMasterId['UnitId']))"><img src="assets/icons/delete.png" 
      width="25px" /></a></td>               
</tr>
                  </tbody> 
              </table>
              <div *ngIf="!totalItem" class="row">
  <div class="col-md-6" >
  <div class="alert-message">
<strong>Success!</strong> Record not found
</div>
  </div>
</div>
              <pagination-controls *ngIf="totalItem"
    (pageChange) = "page = getAllUsers($event,filter)" 
    id="server"
          maxSize = "5"
    directionLinks = "true"
          autohide = "true"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
    >
      </pagination-controls>
   </div>
 </div>
</div>
</div>
