<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Admin Dashboard
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->

    <div class="row">
      <div class="col-lg-3 col-xs-6">
          <div id="divWheelnav"></div>
        <!-- small box -->
        <div  class="small-box bg-aqua">
          <div class="inner">
            <!-- <h3>{{totalItem}}</h3> -->
            <h3>10</h3>
            <p>List of Notifications</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a routerLink="../notificatinlist" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <!-- <h3>{{logtotalItem}}<sup style="font-size: 20px"></sup></h3> -->
            <h3>15<sup style="font-size: 20px"></sup></h3>
            <p>List of logs</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a routerLink="../logslist" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      
      <!-- Left col -->
      <section class="col-lg-8 connectedSortable">
          <div class="box box-solid bg-light-blue-gradient">
              <div class="box-header">
              </div>
          </div>
      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-4 connectedSortable">

        <!-- Map box -->
        <div class="box box-solid bg-light-blue-gradient">
          <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
                  <i class="fa fa-calendar"></i></button>
              <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"
                style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
            </div>
            <!-- /. tools -->

            <i class="fa fa-theme"></i>

            <h3 class="box-title">
              Color Themes
            </h3>
          </div>
          <div class="box-body">
            <div id="color-theme" style="height: 250px; width: 40%;">
                  
            </div>
            
          </div>
        </div>
        <!-- /.box -->

        

        

      </section>
      <!-- right col -->
    </div>
    <!-- /.row (main row) -->

  </section>
