<!-- Content Header (Page header) -->
   <section class="content-header">
     <div class="panel-body custom-panel"><h1>
       List Of Transport {{ data | json}}<button class="btn btn-primary pull-right" (click)="addTransport()">add Transport</button>
     </h1></div> 
   </section>
 <div class="content">
     <div class="lu-form"><div class="row">
     <div class="col-md-8"></div>
     <div class="col-md-4">  
     </div></div>
 <div>
 <div class="row">
     <div class="col-md-4" *ngIf="message;">
         <div class="alert alert-success">
             <strong>Success!</strong> {{message}}.
         </div>
     </div>
 </div>
 <div class="row">
         <div class="col-md-3">
     <nav class="navbar">
       <input class="lu-input" placeholder="Enter Search Element" type="text" name="search" [(ngModel)]="filter" (ngModelChange)="getAllExams(page,$event)">
     </nav>
     </div>
     </div>
 <div  class="pagination-data"><div class="loader" [ngClass]="{ 'hidden': !loading }"></div>
 <table *ngIf="totalItem" class="table-bordered custom-table">
                     <thead>
                         <tr>
                             <th>transportName</th>
                             <th>transportType</th>
                             <th>PickupLocation</th>
                             <th>Action</th>
                         </tr>
                     </thead>
                      <tbody>
                                 <tr *ngFor="let datas of data | paginate : { itemsPerPage:10, currentPage:page, id : 'server', 
                                     totalItems: totalItem}">
                                     <td>{{datas.transportName}}</td>  
                                     <td>{{datas.transportType}}</td>
                                     <td>{{datas.transportPickupLocation}}</td>                                      
 <td><a class="col-xs-3 btn btn-success" routerLink="/admin/update-transport/{{this.baseEncode(datas.transportId)}}">Edit</a><a class="btn btn-danger" (click)="deleteExam(this.baseEncode(datas.transportId))">Delete</a></td>
                                     </tr>
                     </tbody> 
                 </table>
                 <div *ngIf="!totalItem" class="row">
     <div class="col-md-6" >
     <div class="alert alert-success">
   <strong>Success!</strong> Record not found
 </div>
     </div>
 </div>
                 <pagination-controls *ngIf="totalItem"
       (pageChange) = "page = getAllExams($event,filter)" 
       id="server"
             maxSize = "5"
       directionLinks = "true"
             autohide = "true"
             screenReaderPaginationLabel="Pagination"
             screenReaderPageLabel="page"
             screenReaderCurrentLabel="You're on page">
         </pagination-controls>
      </div>
    </div>
 </div>
 </div>
