<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body box box-info"><h1>User Details</h1>
    </div>
  </section>
<div class="content ">
  <div class="box box-info">
     <div class="row">
       <p>                            </p>
     </div>
    <form #personalForm="ngForm" class="editForm" novalidate>
      <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">First Name*</label>
        <div class="col-sm-8">
            <input class="form-control input-md" #firstName="ngModel" required id="firstName" name="firstName" type="text" placeholder="First Name" [(ngModel)]="user.firstName" pattern="[a-zA-Z\&quot;-'-$-.-, ]*">   
              <input    type="hidden" name="userId"  [(ngModel)]="user.userId">
              <input    type="hidden" name="profileId"  [(ngModel)]="user.profileId">
              <input    type="hidden" name="addressId"  [(ngModel)]="user.addressId">   
          </div>
        <div class="alert alert-danger" [hidden]="firstName.valid || firstName.pristine">First Name is required</div>  
      </div>
      </div>
 <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Middle Name*</label>
        <div class="col-sm-8">
        <input class="form-control input-md" #middleName="ngModel" required id="middleName" name="middleName" type="text" placeholder="Middle Name" [(ngModel)]="user.middleName" pattern="[a-zA-Z-\&quot;-'-$-.-, ]*">
      </div>
        <div class="alert alert-danger" [hidden]="middleName.valid || middleName.pristine">Middle Name is required</div> 
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Last Name*</label>
        <div class="col-sm-8">
        <input class="form-control input-md" #lastName="ngModel" required id="lastName" name="lastName" type="text" placeholder="lastName" [(ngModel)]="user.lastName" pattern="[a-zA-Z-\&quot;-'-$-.-, ]*">
      </div>
    <div class="alert alert-danger" [hidden]="lastName.valid || lastName.pristine ">Last Name is required and must be valid</div> 
      </div>
      </div>
<div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Mobile No*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #mobile="ngModel" required id="mobile" name="mobile" pattern="[0-9]*" maxlength="10" type="text" placeholder="mobile" [(ngModel)]="user.mobile" pattern="[0-9-\&quot;-'-$-.-, ]*">
      </div>
       <div [hidden]="mobile.valid || mobile.pristine"
             class="alert alert-danger">
          Mobile is required
        </div> 
      </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">EmailId*</label>
        <div class="col-sm-8">
          <input class="form-control input-md"  (ngModelChange)="emailAlreadyExist($event)" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" name="email" type="text" placeholder="email" [(ngModel)]="user.email">
        </div>
        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">Email is required
          </div>
        <div *ngIf="IsExist"
             class="alert alert-danger">
          Email Id Already Exist
        </div> 
      </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Password*</label>
        <div *ngIf="user.userId; else newTemplate" class="col-sm-8">
          <input class="form-control input-md" #Password="ngModel"  
           name="Password" type="password" placeholder="password" 
           [(ngModel)]="user.Password">
        </div>
          <ng-template #newTemplate>
            <div class="col-sm-8">
            <input class="form-control input-md" #Password="ngModel" required 
           name="Password" type="password" placeholder="password" 
           [(ngModel)]="user.Password">
           <div class="alert alert-danger" [hidden]="Password.valid || Password.pristine">Password is required</div>
          </div>
          </ng-template>
      </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">User Details*</label>
        <div class="col-sm-8">
          <input class="form-control input-md" #userDesc="ngModel" required  name="userDesc" type="text"maxlength="15"  placeholder="user description" [(ngModel)]="user.userDesc">
        </div>
        <div class="alert alert-danger" [hidden]="userDesc.valid || userDesc.pristine">user Description is required</div> 
      </div>
      </div>   
    <!-- <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">User Image*</label>
        <div class="col-sm-8">
          <input type="file" class="form-control input-md" #userImage="ngModel"   id="userImage"  name="userImage" placeholder="user Image" [(ngModel)]="user.userImage">
        </div>
        <div class="alert alert-danger" [hidden]="userImage.valid || userImage.pristine">User Image is required</div> 
      </div>
      </div> -->
    <div class="row">
      <div class="form-group col-sm-12">
        <label class="col-lg-2 control-label" for="Attendance">Attendance<br>                                             
            <input type="checkbox" value="1" class="checkbox"  [(ngModel)]="user.attendance" name="attendance" id="attendance" #attendance="ngModel">
            </label>
        <label class="col-lg-2 control-label" for="Books">Books<br>                                      
            <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.books" name="books" id="books" #books="ngModel">
        </label>
        <label class="col-lg-2 control-label" for="Class">Class<br>                   
            <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.class" name="class" id="class" #class="ngModel">
        </label>
          <label class="col-lg-2 control-label" for="Drawing">Drawing<br>
            <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.drawing" name="drawing" id="drawing" #drawing="ngModel">
        </label>
        <label class="col-lg-2 control-label" for="News">News<br>  
            <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.news" name="news" id="news" #news="ngModel">
        </label>
        <label class="col-lg-2 control-label" for="Notes">Notes<br>
            <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.notes" name="notes" id="notes" #notes="ngModel">
        </label>
        <label class="col-lg-2 control-label" for="Notify">Notify<br>
            <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.notify" name="notify" id="notify" #notify="ngModel">
        </label>
        <label class="col-lg-2 control-label" for="Subject">Subject<br>
            <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.subject" name="subject" id="subject" #subject="ngModel">
        </label>
        <label class="col-lg-2 control-label" for="Timetable">Timetable<br>
        <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.timetable" name="timetable" id="timetable" #timetable="ngModel">
        </label>
        <label class="col-lg-2 control-label" for="Test">Test<br>
            <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.test" name="test" id="test" #test="ngModel">
        </label>
        <label class="col-lg-2 control-label" for="Video">Video<br>                                           
        <input type="checkbox" value="1" class="checkbox" [(ngModel)]="user.video" name="video" id="video" #video="ngModel">
        </label>
      </div>
    </div>
      <div class="row">
        <div class="form-group col-sm-4">
        </div>
        <div class="form-group col-sm-4">
          <div *ngIf="user.userId; else falsyTemplate">
                <div class="form-group text-center">
                    <button [routerLink]="['/admin/addProfile/'+baseEncode(user.userId)]" class="btn btn-success 
                    btn-outline-rounded btn-info" [disabled]="!personalForm.valid || IsExist" (click)="save(personalForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
          </div>
          <ng-template #falsyTemplate>
            <div class="form-group text-center">
                        <button [routerLink]="['/admin/addProfile']" class="btn btn-success 
                        btn-outline-rounded btn-info" [disabled]="!personalForm.valid" (click)="save(personalForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
          </ng-template>
        </div>
        </div>
    </form>
  </div>
  </div>
  
