<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body box box-info"><h1>
      List Of Logs
    </h1>
    </div>
  </section>
<div class="content">
<div class="box box box-info pagination-data">
    <div class="pagination-data">
<table class="table table-bordered">
     <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search" />
                    <thead>
                        <tr>
                            <th>Action Element</th>
                            <th>Action Type</th>
                            <th>Created At</th>
                            <th>Action Performed By</th>
                        </tr>
                    </thead>
                    <tbody>
                                <tr *ngFor="let datas of data | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:48 };">
                                    <td>{{datas.ActionElement}}</td>
                                    <td>{{datas.ActionType}}</td>
                                    <td>{{datas.CreatedAt | date:"dd/MM/yyyy"}}</td>
                                    <td>{{datas.Email}}</td>
                                </tr>
                    </tbody>
                </table>
                 <pagination-controls 
			(pageChange) = "page = getLogData($event)" 
			id="1"
			maxSize = "5"
			directionLinks = "true"
            autohide = "true"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
			>
        </pagination-controls> 
    </div>
</div>
<!-- <td>{{datas.actionElement}}</td>
                                    <td>{{datas.actionType}}</td>
                                    <td>{{datas.createdAt | date:"MM/dd/yyyy"}}</td>
                                    <td>{{datas.actionPerformedById}}</td> -->