<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body box"><h1>
      List Of Logs
    </h1>
    </div>
  </section>
<div class="content">
<div *ngIf="totalItem" class="box pagination-data">
    <div class="row">
        <div class="col-md-3">
    <nav class="navbar">
      <input class="form-control" type="text" placeholder="Enter Search Element" name="search" [(ngModel)]="filter" (ngModelChange)="getLogData(page,$event)">      
    </nav>
        </div>
    </div>
    <div  class="pagination-data"><div class="loader" [ngClass]="{ 'hidden': !loading }"></div>
<table class="table table-bordered box box-info">
                    <thead>
                        <tr>
                            <th class="pointer"  (click)="sort('ActionElement')">Action Element{{totalItem}} <span class="glyphicon sort-icon" *ngIf="key =='ActionElement'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th class="pointer" (click)="sort('ActionType')">Action Type <span class="glyphicon sort-icon" *ngIf="key =='ActionType'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th class="pointer" (click)="sort('CreatedAt')">Created At <span class="glyphicon sort-icon" *ngIf="key =='CreatedAt'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th class="pointer" (click)="sort('Email')">Action Performed By <span class="glyphicon sort-icon" *ngIf="key =='Email'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                                <tr *ngFor="let datas of data | filter:filter | orderBy: key : reverse | paginate : { itemsPerPage:10, currentPage:page, id: 'server' , 
                                    totalItems:totalItem}; ">
                                    <td>{{datas.ActionElement}}</td>
                                    <td>{{datas.ActionType}}</td>
                                    <td>{{datas.CreatedAt | date:"dd/MM/yyyy"}}</td>
                                    <td>{{datas.Email}}</td>
                                </tr>
                    </tbody>
                </table> 
<div class="has-text-centered">
    <pagination-controls 
			(pageChange) = "page = getLogData($event,filter)" 
			id="server"
            maxSize = "5"
			directionLinks = "true"
            autohide = "true"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
			>
        </pagination-controls>
</div>


    </div>
</div>