<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body custom-panel"><h1>
      List Of Notification<button class="btn btn-primary pull-right" (click)="addNotification()">Add Notification</button>
    </h1></div>
  </section>
<div class="content">
    <div class="lu-form"><div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">  
    </div></div>
<div>
<div class="row">
    <div class="col-md-4" *ngIf="message;">
    <div class="alert alert-success">
  <strong>Success!</strong> {{message}}.
</div>
    </div>
</div>
<div class="row">
        <div class="col-md-3">
    <nav class="navbar">
      <input class="lu-input" placeholder="Enter Search Element" type="text" name="search" [(ngModel)]="filter" (ngModelChange)="getNotificationData(page,$event)">      
    </nav>
    </div>
    </div>
<div  class="pagination-data"><div class="loader" [ngClass]="{ 'hidden': !loading }"></div>
<table *ngIf="totalItem" class="table-bordered custom-table">
                    <thead>
                        <tr>
                            <th>Notification Type</th>
                            <th>Notification Title</th>
                            <!-- <th>Notify Category</th>
                            <th>Notify Code</th> -->
                            <th>Notification Message</th>
                            <!-- <th>Notification Date</th> -->
                            <th>Class</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                                <tr *ngFor="let datas of data | paginate : { itemsPerPage:10, currentPage:page, id : 'server', 
                                    totalItems: totalItem}">
                                    <td>{{datas.NotificationType}}</td>
                                    <td>{{datas.NotificationTitle}}</td>
                                    
                                    <td>{{datas.NotificationDescription}}</td>
                                    <td>{{datas.ClassId}}</td>
                                    <!-- <td>{{datas.notifyDate | date:"dd/MM/yyyy"}}</td> -->
<td><a class="col-xs-3 btn btn-success" routerLink="/admin/addNotificatin/{{this.baseEncode(datas.id)}}">Edit</a><a class="btn btn-danger" (click)="deleteNotification(this.baseEncode(datas.id))">Delete</a></td>
                                    </tr>
                    </tbody>
                </table>
                <div *ngIf="!totalItem" class="row">
    <div class="col-md-6" >
    <div class="alert alert-success">
  <strong>Success!</strong> Record not found
</div>
    </div>
</div>
                <pagination-controls *ngIf="totalItem"
			(pageChange) = "page = getNotificationData($event,filter)" 
			id="server"
            maxSize = "5"
			directionLinks = "true"
            autohide = "true"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
			>
        </pagination-controls>
     </div>
   </div>
</div>
</div>