<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body custom-panel"><h1>
      List Of Users<button class="btn btn-primary pull-right" (click)="addUser()">Add User</button>
    </h1></div>
  </section>
<div class="content">
    <div><div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">  
    </div></div>
<div  class="lu-form">
<div class="row">
    <div class="col-md-4" *ngIf="message;">
        <div class="alert-message">
            <strong>Success!</strong> {{message}}.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <nav class="navbar">
            <input placeholder="Enter Search Element" type="text" name="search" [(ngModel)]="filter" (ngModelChange)="getAllUsers(page,$event)">
        </nav>
    </div>
</div>
<div  class="pagination-data"><div class="loader" [ngClass]="{ 'hidden': !loading }"></div>
    <table  *ngIf="totalItem" class="table-bordered custom-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>EmailId</th>
                            <th>Mobile</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <th>Profile Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                     <tbody>
                                <tr *ngFor="let datas of data | paginate : { itemsPerPage:10, currentPage:page, id : 'server', 
                                    totalItems: totalItem}">
                                    <td>{{datas.firstName+" "+datas.middleName+" "+datas.lastName}}</td> 
                                    <td>{{datas.user['emailId']}}</td>  
                                    <td>{{datas.mobilePhone}}</td>
                                    <td>{{datas.perCity}}</td>
                                    <td>{{datas.perState}}</td>
                                     <td>{{datas.country}}</td> 
                                     <td>{{datas.role['roleDescription']}}</td>
<!-- <td><a class="col-xs-3 btn btn-success" routerLink="/admin/addUser/{{this.baseEncode(datas.userId)}}">Edit</a><a class="btn btn-danger" (click)="deleteUser(this.baseEncode(datas.userId))">Delete</a></td> -->
<td><a href="/admin/addUser/{{this.baseEncode(datas.user['userId'])}}"><img src="assets/icons/edit.png" 
    width="25px" /></a><a class="pointer" (click)="deleteUser(this.baseEncode(datas.user['userId']))"><img src="assets/icons/delete.png" 
        width="25px" /></a></td>               
</tr>
                    </tbody> 
                </table>
                <div *ngIf="!totalItem" class="row">
    <div class="col-md-6" >
    <div class="alert-message">
  <strong>Success!</strong> Record not found
</div>
    </div>
</div>
                <pagination-controls *ngIf="totalItem"
			(pageChange) = "page = getAllUsers($event,filter)" 
			id="server"
            maxSize = "5"
			directionLinks = "true"
            autohide = "true"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
			>
        </pagination-controls>
     </div>
   </div>
</div>
</div>
