<div class="content-wrapper">
 <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body"><h1>
      List Of Users<button class="btn btn-primary pull-right" (click)="addUser()">Add User</button>
    </h1></div>
  </section>
<div class="content">
    <div><div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">  
    </div></div>
<div  class="box">
<div class="row">
    <div class="col-md-4" *ngIf="message;">
        <div class="alert alert-success">
            <strong>Success!</strong> {{message}}.
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-3">
    <nav class="navbar">
      <input class="form-control" placeholder="Enter Search Element" type="text" name="search" [(ngModel)]="filter" (ngModelChange)="getAllUsers(page,$event)">
    </nav>
    </div>
    </div>
<div  class="pagination-data"><div class="loader" [ngClass]="{ 'hidden': !loading }"></div>
<table *ngIf="totalItem" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>EmailId</th>
                            <th>Mobile</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <th>Profile Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                     <tbody>
                                <tr *ngFor="let datas of data | paginate : { itemsPerPage:10, currentPage:page, id : 'server', 
                                    totalItems: totalItem}">
                                    <td>{{datas.firstName+" "+datas.middleName+" "+datas.lastName}}</td> 
                                    <td>{{datas.email}}</td>  
                                    <td>{{datas.mobile}}</td>
                                    <td>{{datas.address.city['cityName']}}</td>
                                    <td>{{datas.address.city.stateMaster['stateName']}}</td>
                                     <td>{{datas.address.city.stateMaster.country['countryName']}}</td> 
                                     <td>{{datas.tblProfile['profileType']}}</td>
<td><a class="col-xs-3 btn btn-success" routerLink="/admin/addUser/{{this.baseEncode(datas.userId)}}">Edit</a><a class="btn btn-danger" (click)="deleteUser(this.baseEncode(datas.userId))">Delete</a></td>
                                    </tr>
                    </tbody> 
                </table>
                <div *ngIf="!totalItem" class="row">
    <div class="col-md-6" >
    <div class="alert alert-success">
  <strong>Success!</strong> Record not found
</div>
    </div>
</div>
                <pagination-controls *ngIf="totalItem"
			(pageChange) = "page = getAllUsers($event,filter)" 
			id="server"
            maxSize = "5"
			directionLinks = "true"
            autohide = "true"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
			>
        </pagination-controls>
     </div>
   </div>
</div>
</div>