<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body custom-panel"><h1>
      <div *ngIf="model.id; else falsyTemplate">
        Edit Notification
      </div>
      <ng-template #falsyTemplate>
        Add Notification
      </ng-template>
    </h1>
    </div>
  </section>
<div class="content ">
  <div class="lu-form">
     <div class="row">
       <p>                            </p>
     </div>
    <form (ngSubmit)="doAddNotification(model)" #notificationForm="ngForm">
      <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Notify Type</label>
        <div class="col-sm-8">
        <input type="text"  maxlength="50"  pattern="[a-zA-Z0-9-\&quot;-'-$-.-,]*" id="notifyType"
               required 
               [(ngModel)]="model.notifyType" name="notifyType"
               #notifyType="ngModel">
              </div>
         <div [hidden]="notifyType.valid || notifyType.pristine"
             class="alert alert-danger">
          Notify Type is required
        </div>  
      </div>
      </div>
 <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Notify Category</label>
        <div class="col-sm-8">
      <select id="notifyCategory" class="lu-input"
                required
                [(ngModel)]="model.notifyCategory" name="notifyCategory"
                #notifyCategory="ngModel">
          <option *ngFor="let notifyC of NotificationCatogerys" [value]="notifyC">{{notifyC}}</option>
        </select>         
      </div>
         <div [hidden]="notifyCategory.valid || notifyCategory.pristine"
             class="alert alert-danger">
             Notification Category is required
        </div> 
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Notify Code</label>
        <div class="col-sm-8">
        <input type="text" maxlength="50" id="notifyCode"
        required       
        [(ngModel)]="model.notifyCode" (ngModelChange)="notificationCode($event)" pattern="[a-zA-Z0-9-\&quot;-'-$-.-,]*" name="notifyCode" #notifyCode="ngModel">        
      </div>
    <div *ngIf="IsExist"
             class="alert alert-danger">
             Notification Code Already Exist
        </div>
       <div [hidden]="notifyCode.valid || notifyCode.pristine || IsExist"
             class="alert alert-danger">
             Notification Code is required
        </div> 
      </div>
      </div>
<div class="row">
      <div class="form-group col-sm-8">
           <label class="col-sm-4 control-label" for="alterEgo">Notification Message</label>
        <div class="col-sm-8">
          <input type="hidden" name="test" [value]="model.id"/>
          <textarea type="text" class="lu-input" maxlength="500" rows="4" id="notifyMessage"
        required       
        [(ngModel)]="model.notifyMessage" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" name="notifyMessage" #notifyMessage="ngModel" rows="5" cols="120"></textarea>
      </div>
       <div [hidden]="notifyMessage.valid || notifyMessage.pristine"
             class="alert alert-danger">
             Notification Message is required
        </div> 
      </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Notify Date</label>
        <div class="col-sm-8">
          <input type="date" onkeypress="return false;"  min="{{mymindate}}" max="{{mymaxdate}}" class="no-spin" [(ngModel)]="model.notifyDate" name="notifyDate" #notifyDate="ngModel"  value="">
        </div>
         <div [hidden]="notifyDate.valid || notifyDate.pristine"
             class="alert alert-danger">
             Notification Date is required
        </div> 
      </div>
      </div>

<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="alterEgo">Expiary Date</label>
        <div class="col-sm-8" >
        <input  min="{{mymindate}}" onkeypress="return false;"  max="{{mymaxdate}}" type="date" class="no-spin" [(ngModel)]="model.expiaryDate" name="expiaryDate" #expiaryDate="ngModel"  value="">
        </div>
         <div [hidden]="expiaryDate.valid || expiaryDate.pristine"
             class="alert alert-danger">
          Expiry Date is required
        </div> 
      </div>
      </div>
      
      <div class="row">
        <div class="form-group col-sm-4">
        </div>
        <div class="form-group col-sm-4">
          <button type="submit" class="btn btn-success" [disabled]="!notificationForm.form.valid || IsExist">Save</button>
          <button type="button" class="btn btn-default" (click)="backlist();">Cancel</button>
        </div>
        </div>
    </form>
  </div>
  </div>