<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Teacher Dashboard
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <div class="card-container col-md-2">
        <div class="card">
          <div class="scard side"><a routerLink="../list-of-users"><img class="cs-img" src="assets/img/users.png" /><br/>Users</a></div>
          <div class="card back"><br/>30<br/><a routerLink="../list-of-users" class="more-info">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="card-container col-md-2">
        <div class="card">
          <div class="scard gside"><a routerLink="../notificatinlist"><img class="cs-img" src="assets/img/logs.png" /><br/>Logs</a></div>
          <div class="card back"><br/>25<br/><a routerLink="../roonotificatinlistms" class="more-info">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="card-container col-md-2">
        <div class="card">
          <div class="scard rside"><a routerLink="../rooms"><img class="cs-img" src="assets/img/rooms.png" /><br/>Rooms</a></div>
          <div class="card back"><br/>25<br/><a routerLink="../rooms" class="more-info">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="card-container col-md-2">
        <div class="card">
          <div class="scard clside"><a routerLink="../classes"><img class="cs-img" src="assets/img/class.png" /><br/>Classes</a></div>
          <div class="card back"><br/>25<br/><a routerLink="../classes"class="more-info">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="card-container col-md-2">
        <div class="card">
          <div class="scard tstside"><a routerLink="../tests"><img class="cs-img" src="assets/img/test.png" /><br/>Tests</a></div>
          <div class="card back"><br/>25<br/><a routerLink="../tests"class="more-info">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="card-container col-md-2">
        <div class="card">
          <div class="scard ttside"><a routerLink="../timetables"><img class="cs-img" src="assets/img/teacher-time-table.png" /><br/>Time Tables</a></div>
          <div class="card back"><br/>15<br/><a routerLink="../timetables"class="more-info">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <!-- <div class="card-container col-md-2">
        <div class="card">
          <div class="scard emside"><a routerLink="../emails"><img class="cs-img" src="assets/img/email.png"/><br/>Emails</a></div>
          <div class="card back"><br/>35<br/><a routerLink="../emails"class="more-info">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div> -->
    </div>
    <br/>
    <br/>
    <br/>
    
      <br/>
      <br/>
      <br/>
      
  </section>
  <!-- /.content -->
  
