<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body custom-panel"><h1>
      <div *ngIf="model.examDetailId; else falsyTemplate">
        Edit ExamDetail
      </div>
      <ng-template #falsyTemplate>
        Add ExamDetail
      </ng-template>
    </h1>
    </div>
  </section>
<div class="content ">
  <div class="lu-form">
     <div class="row">
       <p>                         
	   </p>
     </div>
    <form (ngSubmit)="addExamDetail(model)" #examDetailForm="ngForm">
      

<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Exam*</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="exam"
               required
               [(ngModel)]="model.exam" name="exam"
               #exam="ngModel">
              </div> 
              <div [hidden]="exam.valid ||exam.pristine"
                  class="alert alert-danger">
                 Exam is required
              </div> 
      </div>
</div>
<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Question *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="question"
               required
               [(ngModel)]="model.question" name="question"
               #question="ngModel">
              </div> 
              <div [hidden]="question.valid || question.pristine"
                  class="alert alert-danger">
                  Question is required
              </div> 
      </div>
</div>
<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Exam Duration *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="examDuration"
               required
               [(ngModel)]="model.examDuration" name="examDuration"
               #examDuration="ngModel">
              </div> 
              <div [hidden]="examDuration.valid || examDuration.pristine"
                  class="alert alert-danger">
                  Exam Duration is required
              </div> 
      </div>
</div>
<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Start Time *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="startTime"
               required
               [(ngModel)]="model.startTime" name="startTime"
               #startTime="ngModel">
              </div> 
              <div [hidden]="startTime.valid || startTime.pristine"
                  class="alert alert-danger">
                  Start Time is required
              </div> 
      </div>
</div>
<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">EndTime *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="endTime"
               required
               [(ngModel)]="model.endTime" name="endTime"
               #endTime="ngModel">
              </div> 
              <div [hidden]="endTime.valid || endTime.pristine"
                  class="alert alert-danger">
                  EndTime is required
              </div> 
      </div>
</div>
<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Answers From Student *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="answersFromStudent"
               required
               [(ngModel)]="model.answersFromStudent" name="answersFromStudent"
               #answersFromStudent="ngModel">
              </div> 
              <div [hidden]="answersFromStudent.valid || answersFromStudent.pristine"
                  class="alert alert-danger">
                  Answers From Student is required
              </div> 
      </div>
</div>
<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">examScore *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="examScore"
               required
               [(ngModel)]="model.examScore" name="examScore"
               #examScore="ngModel">
              </div> 
              <div [hidden]="examScore.valid || examScore.pristine"
                  class="alert alert-danger">
                  examScore is required
              </div> 
      </div>
</div>
<div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">examResult *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="examResult"
               required
               [(ngModel)]="model.examResult" name="examResult"
               #examResult="ngModel">
              </div> 
              <div [hidden]="examResult.valid || examResult.pristine"
                  class="alert alert-danger">
                  examResult is required
              </div> 
      </div>
</div>

<div class="row">
        <div class="form-group col-sm-4">
        </div>
        <div class="form-group col-sm-4">
          <button type="submit" class="btn btn-success" [disabled]="!examDetailForm.form.valid || IsExist">Save</button>
          <button type="button" class="btn btn-default" (click)="backList();">Cancel</button>
        </div>
        </div>
    </form>
  </div>
  </div>