<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="panel-body box box-info"><h1>
      <div *ngIf="model.id; else falsyTemplate">
        Edit Timetable
      </div>
      <ng-template #falsyTemplate>
        Add Timetable
      </ng-template>
    </h1>
    </div>
  </section>
<div class="content ">
  <div class="box box-info">
     <div class="row">
       <p>                            </p>
     </div>
    <form (ngSubmit)="addTimeTable(model)" #timeTableForm="ngForm">
      

 <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">tblClass *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="tblClass"
               required
               [(ngModel)]="model.tblClass" name="tblClass"
               #tblClass="ngModel">
              </div> 
              <div [hidden]="tblClass.valid || tblClass.pristine"
                  class="alert alert-danger">
                  tblClass is required
              </div> 
      </div>
</div>
 <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">Start Date *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="startDate"
               required
               [(ngModel)]="model.startDate" name="startDate"
               #startDate="ngModel">
              </div> 
              <div [hidden]="startDate.valid || startDate.pristine"
                  class="alert alert-danger">
                  StartDate is required
              </div> 
      </div>
</div>
 <div class="row">
      <div class="form-group col-sm-8">
        <label class="col-sm-4 control-label" for="name">End Date *</label>
        <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="endDate"
               required
               [(ngModel)]="model.endDate" name="endDate"
               #endDate="ngModel">
              </div> 
              <div [hidden]="endDate.valid || endDate.pristine"
                  class="alert alert-danger">
                  EndDate is required
              </div> 
      </div>
</div>
<div class="row">
     <div class="form-group col-sm-8">
       <label class="col-sm-4 control-label" for="name">User *</label>
       <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="user"
              required
              [(ngModel)]="model.user" name="user"
              #user="ngModel">
             </div> 
             <div [hidden]="user.valid || user.pristine"
                 class="alert alert-danger">
                 user is required
             </div> 
     </div>
</div>
<div class="row">
     <div class="form-group col-sm-8">
       <label class="col-sm-4 control-label" for="name">Section *</label>
       <div class="col-sm-8">
<input type="text"  maxlength="50"  class="form-control" pattern="[a-zA-Z0-9-\&quot;-'-$-.-, ]*" id="section"
              required
              [(ngModel)]="model.section" name="section"
              #section="ngModel">
             </div> 
             <div [hidden]="section.valid || section.pristine"
                 class="alert alert-danger">
                 section is required
             </div> 
     </div>
</div>
<div class="row">
        <div class="form-group col-sm-4">
        </div>
        <div class="form-group col-sm-4">
          <button type="submit" class="btn btn-success" [disabled]="!timeTableForm.form.valid || IsExist">Save</button>
          <button type="button" class="btn btn-default" (click)="backList();">Cancel</button>
        </div>
        </div>
    </form>
  </div>
  </div>
</div>