<div class="content-wrapper">
<section class="content-header">
    <div class="panel-body box"><h1>User Profile</h1></div>
  </section>
  <div class="content">
    <div class="col-sm-6 box">
      <h3></h3>        
      <p>          </p>
      <p>         </p>
      <div class="form-group row">
    <label for="normal-field" class="col-md-3 form-control-label text-md-right">
     Achievment <span class="astric">  *</span></label>
    <div class="col-md-9">
       {{achievment}}
    </div>
</div>
  <div class="form-group row">
    <label for="normal-field" class="col-md-3 form-control-label text-md-right">
      ProfileName<span class="astric">  *</span></label>
    <div class="col-md-9">
      {{profileName}}
    </div>
</div>

<div class="form-group row">
    <label for="normal-field" class="col-md-3 form-control-label text-md-right">
      ProfileType<span class="astric">  *</span></label>
    <div class="col-md-9" >
      {{profileType}}
    </div>
</div>  

<div class="form-group row">
    <label for="normal-field" class="col-md-3 form-control-label text-md-right">
      Email Id<span class="astric">  *</span></label>
    <div class="col-md-9">
      {{mydata['email']}}
    </div>
</div>
  <div class="form-group row">
    <label for="normal-field" class="col-md-3 form-control-label text-md-right">
      Name:<span class="astric">  *</span></label>
    <div class="col-md-9">
      {{mydata['firstName']}} {{mydata['middleName']}} {{mydata['lastName']}} 
    </div>
</div>
  <div class="form-group row">
    <label for="normal-field" class="col-md-3 form-control-label text-md-right">
      Contact No:<span class="astric">  *</span></label>
    <div class="col-md-9">
      {{mydata['mobile']}}
    </div>
</div>

<div class="form-group row">
    <label for="normal-field" class="col-md-3 form-control-label text-md-right">
      Images:<span class="astric">  *</span></label>
    <div class="col-md-9">
      <img [src]="imagePath">
    </div>
</div>
<div class="form-group row">
    <label for="normal-field" class="col-md-3 form-control-label text-md-right">
      User Description:<span class="astric">  *</span></label>
    <div class="col-md-9">
      {{mydata['userDesc']}}
    </div>
</div>
</div>
</div>
</div>